*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #4CB050;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

#Tutorial{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #4cb050;
    font-family: 'Poppins', sans-serif;
    color: yellow;
    z-index: 5;
    visibility: hidden;
}

#Tutorial span{
    margin-left: 98vw;
}

#Tutorial span img{
    height: 5vh;
    width: 2vw;
}

.TutHead{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    color: rgb(214, 15, 15);
    letter-spacing: 2px;
    text-shadow: 2px 3px 8px rgba(13, 81, 217, 0.8);
}

#format{
    display: inline-block;
    width: 80%;
    margin: 0% 10% 2% 10%;
    font-size: 1.1rem;
}

#Tosswin{
    display: none;
    font-weight: bold;
    margin-top: 4vh;
}

#shotsimg{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    grid-gap: 0.6rem;
}
.container{
    line-height: 150%;
    background-color: rgb(210, 149, 205);
    text-align: center;
    width: 500px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 20px 15px 30px 40px rgba(20, 1, 1, 0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
    z-index: 0;
    line-height: 2.2em;
}

#TossStart{
    font-weight: bold;
    font-size: 1.5em;
}

#TossResult{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
    visibility: hidden;
    font-weight: bold;
    font-size: 1.2em;
}

.tossres {
     
  border: 1px solid black;
  border-radius: 3px;
  width: 5rem;
  height: 2.5rem;
  display: block;

  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
  }
  
  .tossres:hover{
    background-position: left bottom;
    color: white;
  }

  .tossres.selected {
    color: white;
    font-size: large;
    font-weight: bold;
    background:black;
  }

#startMatch{
    visibility: hidden;
    margin-top: 8vh;
}

#matchbutton{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.3em;
    padding: 2%;
    transition: 0.25s all ease-in-out;
    color: white;
    background: rgb(245, 65, 65);
}

#matchbutton:hover{
    background: yellowgreen;
    color: red;
    border: none;
    font-size: 1.5em;
}

#boy{
    height: 70px;
}

.homepage{
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    font-family: 'Press Start 2P', cursive;
    color: white;
    z-index: 2;
    
}

#heading{
    margin-top: 5vh;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 3px 8px yellowgreen;
}

#playbutton{
    margin-left: 45.6%;
    margin-top: 20vh;
    border: none;
    background-color: rgb(0, 0, 0);
    z-index: 3;
}

#playbutton:hover{
    cursor: pointer;
}

#playbutton img{
    height: 50px;
    background-color: black;
}

#howtoplay{
    z-index: 3;
    margin-top: 15.1vh;
    margin-left: 46.3%;
}


.glow-on-hover {
    width: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 1.5% 2.5%;
    color: white;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: white;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3d0563;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


#subhead{
    text-align: center;
    margin-top: 5vh;
    color: yellow;
    font-size: 23px;
}

#gamepage{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: -3;
}

.coin{
    height: 100px;
    width: 100px;
    position: relative;
    margin: 20px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 95px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: center;
}

#gamepage button{
    width: 20%;
    height: 70%;
    padding: 1% 0;
    border-radius: 5px;
    cursor: pointer;
}

#flip-button{
    color: yellowgreen;
    padding: 3%;
    font-size: 1em;
}

#flip-button:disabled{
    border-color: #e1e0ee;
    color: transparent;
    cursor: not-allowed;
}

.header, .main{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    color: white;
    margin: auto;
    visibility: hidden;
}

.header{
    margin-top: 2vh;
}

.main{
    margin-left: 4%;
    grid-row-gap: 0%;
    grid-column-gap: 4%;
    grid-template-columns: 17% 50% 17%;

}

.ScoreBoard{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    color: white;
    background-color: black;
    font-size: 1rem;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
    border: 2px solid white;
}

.MainIn{
    font-size: 2rem;
}

#Play, #Com{
    width: fit-content;
    height: 2.5rem;
    overflow: hidden;
    margin: auto;
    margin-bottom: -2rem;
    font-size: 1.2vw;
    padding: 0.8rem;
    text-align: center;
    background-color: black;
    border: 2px solid white;
    border-bottom: 0px;
    text-shadow: 2px 2px 2px blue;
}

#Com{
    text-shadow: 2px 2px 2px red;
}

#Live{
    text-align: center;
    padding-left: 5%;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

#LiveFootage{
    height: 35vh;
    width: 44vw;
    background-color: beige;
    margin: auto;
    margin-left: 3vw;
    border: 2px solid black;
    
}
.values{
    justify-self: start;
    margin-left: 10px;
}

.headeritems{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    margin: 1.4%;
    font-size: 2rem;
}

#Player ,#Computer{
    background-color: #2306b3;
    border-radius: 10px;
    margin: 1.4% auto;
    width: fit-content;
    padding: 2% 2rem;
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 5px yellow;
    border: none;
}

#Computer{
    background-color: #b3073b;
}

#Condition{
    background-color: black;
    color: white;
    width: 75vw;
    margin: auto;
    margin-top: 4vh;
    visibility: hidden;
    font-size: 1.8rem;
    text-align: center;

}
#Runs{
    border: none;
}

#Playershots, #ComputerShots{
    margin: 0 auto;
    background-color: black;
    /* border: none; */
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    height: 80%;
    width: 90%;
}

#CurrentScore{
    background-color: beige;
    color: black;
    text-shadow: 1px 1px 2px green;
    font-size: 4vw;
    height: 35%;
    margin-top: 35%;
    border: 2px solid black;
    box-shadow: 2px 4px 2px black;
}

.gestures{
    padding: 0px;
     margin: 0.6rem; 
    border: 2px solid white;
    background-color: black;
    cursor: pointer;
    height: 20%;
}

.gestures:hover{
    background-color: antiquewhite;
}

.gesturesonClick{
    background-color: antiquewhite;
}

.gest{
    height: 80%;
    width: 90%;
    padding: 5px;
}

.tutgest{
    height: 25vh;
    width: 50%;
    margin-bottom: 1vh;
}

.active{
    background-color: white;
}

.livevideo{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: fill;
}

.batimg{
    height: 35px;
    width: 40px;
    margin-left: 10px;
}

.cards{
    position: absolute;
    top: 42vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    z-index: -1;
}


.cardid{
    width: 15%;
    height: 40%;
    box-shadow: 0 0 10px 2px greenyellow;

    border-radius: 10px;
}

#playercard{
    box-shadow: -4px 5px 5px blue;
}

#comcard{
    box-shadow: 4px 5px 5px #b3073b;
}