*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #4CB050;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

#Tutorial{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #4cb050;
    font-family: 'Poppins', sans-serif;
    color: yellow;
    z-index: 5;
    visibility: hidden;
}

#Tutorial span{
    margin-left: 98vw;
}

#Tutorial span img{
    height: 5vh;
    width: 2vw;
}

.TutHead{
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 0.8rem;
    font-size: 2.5rem;
    color: rgb(214, 15, 15);
    text-decoration: underline;
}

#format{
    display: inline-block;
    width: 80vw;
    margin-left: 7rem;
    font-size: 1.1rem;
}

#Tosswin{
    visibility: hidden;
    font-weight: bold;
    margin-top: 4vh;
}

#shotsimg{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    grid-gap: 0.6rem;
}
.container{
    line-height: 150%;
    background-color: rgb(241, 206, 176);
    text-align: center;
    width: 500px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(17, 1, 1, 0.1);
    border-radius: 10px;
    -webkit-perspective: 300px;
    perspective: 300px;
    z-index: 0;
}

#TossStart{
    font-weight: bold;
}

#TossResult{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6vh;
    visibility: hidden;
}

.tossres {
    width: 5rem;
    height: 2.5rem;
    padding: 6px ;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
  }
  .tossres.selected {
    background-color: #a5d6a7;
  }

#startMatch{
    visibility: hidden;
    margin-top: 8vh;
}


#boy{
    height: 70px;
}

.homepage{
    background-color: black;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    font-family: 'Press Start 2P', cursive;
    color: white;
    z-index: 2;
    
}

#heading{
    margin-top: 5vh;
    text-align: center;
    font-size: 40px;
}

#playbutton{
    margin-left: 47vw;
    margin-top: 20vh;
    border: none;
    background-color: rgb(0, 0, 0);
}

#playbutton:hover{
    cursor: pointer;
}

#playbutton img{
    height: 50px;
    background-color: black;
}

#howtoplay{
    margin-top: 15.1vh;
    margin-left: 46.8vw;
}

#howtoplay button{
    width: fit-content;
    padding: 0.8rem;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 1.1rem;
    color: blue;
    background-color: yellow;
}

#howtoplay button:hover{
    background-color: white;
    border: 2px solid red;
    cursor: pointer;
}

#subhead{
    text-align: center;
    margin-top: 5vh;
    color: yellow;
    font-size: 23px;
}

#gamepage{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: -3;
}

.coin{
    height: 100px;
    width: 100px;
    position: relative;
    margin: 20px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.coin img{
    width: 95px;
}
.heads,.tails{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.tails{
    transform: rotateX(180deg);
}
@keyframes spin-tails{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-heads{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
.buttons{
    display: flex;
    justify-content: center;
}

#gamepage button{
    width: 20%;
    height: 70%;
    padding: 1% 0;
    border-radius: 5px;
    cursor: pointer;
}

#flip-button{
    background-color: #424ae0;
    color: #ffffff;
}

#flip-button:disabled{
    background-color: #e1e0ee;
    border-color: #e1e0ee;
    color: #101020;
}

.header, .main{
    display: grid;
    grid-template-columns: 45% 10% 45%;
    color: white;
    margin: auto;
    visibility: hidden;
}

.header{
    margin-top: 2vh;
}

.main{
    margin-left: 4%;
    grid-row-gap: 0%;
    grid-column-gap: 4%;
    grid-template-columns: 17% 50% 17%;

}

.ScoreBoard{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    color: white;
    background-color: black;
    font-size: 1rem;
    align-items: center;
    height: 20vh;
    margin-top: 2rem;
}

.MainIn{
    font-size: 2rem;
}

#Play, #Com{
    width: fit-content;
    height: 2.5rem;
    overflow: hidden;
    margin: auto;
    margin-bottom: -2rem;
    font-size: 1.2vw;
    padding: 0.8rem;
    text-align: center;
    background-color: black;
}


#Live{
    text-align: center;
    padding-left: 5%;
}

#LiveFootage{
    height: 35vh;
    width: 44vw;
    background-color: beige;
    margin: auto;
    margin-left: 3vw;
}
.values{
    justify-self: start;
    margin-left: 10px;
}

.headeritems{
    display: flex;
    justify-content: center;
    border: 2px solid white;
    margin: 1.4%;
    font-size: 2rem;
}

#Player ,#Computer{
    background-color: #8c182b;
    border-radius: 10px;
    margin: 1.4% auto;
    width: fit-content;
    padding: 2% 2rem;
}

#Condition{
    background-color: grey;
    width: 75vw;
    margin: auto;
    margin-top: 4vh;
    visibility: hidden;
    font-size: 1.8rem;
    text-align: center;

}
#Runs{
    text-align: center;
    padding: 15% 0px;
    font-size: 1.8rem;
    border-radius: 10px;
    background-color: rgb(4, 4, 93);
}

#Playershots, #ComputerShots{
    margin: 0 auto;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    height: 80%;
    width: 90%;
}

#CurrentScore{
    background-color: beige;
    color: #8c182b;
    font-size: 4vw;
    height: 35%;
    margin-top: 35%;
}

.gestures{
    padding: 0px;
     margin: 0.6rem; 
    border: 2px solid white;
    background-color: black;
    cursor: pointer;
    height: 20%;
}

.gestures:hover{
    background-color: antiquewhite;
}

.gesturesonClick{
    background-color: antiquewhite;
}

.gest{
    height: 80%;
    width: 90%;
    padding: 5px;
}

.tutgest{
    height: 25vh;
    width: 50%;
    margin-bottom: 1vh;
}

.active{
    background-color: white;
}

.livevideo{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    object-fit: fill;
}

.batimg{
    height: 35px;
    width: 40px;
    margin-left: 10px;
}


